body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.contenedor {
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .dos-columnas {
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 2rem;
  }
}
